In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("./glassdoor_jobs.csv")

In [3]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

# Job Title

In [4]:
def job_title(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    if 'machine learning' in title.lower() or 'mle' in title.lower():
        return 'mle'
    if 'data engineer' in title.lower():
        return 'data engineer'
    if 'analyst' in title.lower():
        return 'analyst'
    if 'manager' in title.lower():
        return 'manager'
    if 'director' in title.lower():
        return 'director'
    else:
        return 'na'

In [5]:
df['Title'] = df['Job Title'].apply(lambda x: job_title(x))

In [6]:
df.Title.value_counts()

data scientist    358
na                238
data engineer     158
analyst           124
manager            36
mle                26
director           16
Name: Title, dtype: int64

# Salary Cleaning

In [7]:
df['Salary Estimate'].value_counts()

-1                                  214
$54K-$115K (Glassdoor est.)           6
$86K-$143K (Glassdoor est.)           6
$49K-$113K (Glassdoor est.)           6
$21-$34 Per Hour(Glassdoor est.)      6
                                   ...
$39K-$67K (Glassdoor est.)            1
$136K-$208K (Glassdoor est.)          1
$20K-$39K (Glassdoor est.)            1
$79K-$222K (Glassdoor est.)           1
$130K-$206K (Glassdoor est.)          1
Name: Salary Estimate, Length: 417, dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         956 non-null    int64
 1   Job Title          956 non-null    object
 2   Salary Estimate    956 non-null    object
 3   Job Description    956 non-null    object
 4   Rating             956 non-null    float64
 5   Company Name       956 non-null    object
 6   Location           956 non-null    object
 7   Headquarters       956 non-null    object
 8   Size               956 non-null    object
 9   Founded            956 non-null    int64
 10  Type of ownership  956 non-null    object
 11  Industry           956 non-null    object
 12  Sector             956 non-null    object
 13  Revenue            956 non-null    object
 14  Competitors        956 non-null    object
 15  Title              956 non-null    object
dtypes: float64(1), int64(2), object(13)
memory usage: 119.6+ KB

In [9]:
df['Salary Estimate'].value_counts()

-1                                  214
$54K-$115K (Glassdoor est.)           6
$86K-$143K (Glassdoor est.)           6
$49K-$113K (Glassdoor est.)           6
$21-$34 Per Hour(Glassdoor est.)      6
                                   ...
$39K-$67K (Glassdoor est.)            1
$136K-$208K (Glassdoor est.)          1
$20K-$39K (Glassdoor est.)            1
$79K-$222K (Glassdoor est.)           1
$130K-$206K (Glassdoor est.)          1
Name: Salary Estimate, Length: 417, dtype: int64

In [10]:
df=df[df['Salary Estimate'] !='-1']

In [11]:
df['Salary Estimate'].unique()

array(['$53K-$91K (Glassdoor est.)', '$63K-$112K (Glassdoor est.)',
       '$80K-$90K (Glassdoor est.)', '$56K-$97K (Glassdoor est.)',
       '$86K-$143K (Glassdoor est.)', '$71K-$119K (Glassdoor est.)',
       '$54K-$93K (Glassdoor est.)', '$86K-$142K (Glassdoor est.)',
       '$38K-$84K (Glassdoor est.)', '$120K-$160K (Glassdoor est.)',
       '$126K-$201K (Glassdoor est.)', '$64K-$106K (Glassdoor est.)',
       '$106K-$172K (Glassdoor est.)', '$46K-$85K (Glassdoor est.)',
       '$83K-$144K (Glassdoor est.)', '$102K-$190K (Glassdoor est.)',
       '$67K-$137K (Glassdoor est.)', '$118K-$189K (Glassdoor est.)',
       '$110K-$175K (Glassdoor est.)', '$64K-$111K (Glassdoor est.)',
       '$81K-$130K (Glassdoor est.)', '$73K-$119K (Glassdoor est.)',
       '$86K-$139K (Glassdoor est.)', '$63K-$105K (Glassdoor est.)',
       '$109K-$177K (Glassdoor est.)', '$63K-$110K (Glassdoor est.)',
       '$75K-$124K (Glassdoor est.)', '$34K-$61K (Glassdoor est.)',
       '$72K-$120K (Glassdoor est.)', '$93K-$149K (Glassdoor est.)',
       '$85K-$140K (Glassdoor est.)', '$77K-$135K (Glassdoor est.)',
       '$82K-$132K (Glassdoor est.)', '$83K-$137K (Glassdoor est.)',
       '$115K-$180K (Glassdoor est.)', '$74K-$138K (Glassdoor est.)',
       '$64K-$112K (Glassdoor est.)', '$68K-$129K (Glassdoor est.)',
       '$52K-$113K (Glassdoor est.)', '$110K-$150K(Employer est.)',
       'Employer Provided Salary:$150K-$160K',
       '$158K-$211K (Glassdoor est.)', '$20K-$39K (Glassdoor est.)',
       '$56K-$117K (Glassdoor est.)', '$63K-$99K (Glassdoor est.)',
       '$68K-$114K (Glassdoor est.)', '$41K-$95K (Glassdoor est.)',
       '$86K-$144K (Glassdoor est.)', '$80K-$139K (Glassdoor est.)',
       '$56K-$95K (Glassdoor est.)', '$120K-$189K (Glassdoor est.)',
       '$111K-$176K (Glassdoor est.)', '$84K-$146K (Glassdoor est.)',
       '$107K-$172K (Glassdoor est.)', '$49K-$85K (Glassdoor est.)',
       '$61K-$109K (Glassdoor est.)', '$88K-$148K (Glassdoor est.)',
       '$60K-$99K (Glassdoor est.)', '$41K-$72K (Glassdoor est.)',
       '$96K-$161K (Glassdoor est.)', '$65K-$130K (Glassdoor est.)',
       '$52K-$81K (Glassdoor est.)', '$139K-$220K (Glassdoor est.)',
       '$50K-$102K (Glassdoor est.)', '$85K-$139K (Glassdoor est.)',
       '$74K-$122K (Glassdoor est.)', '$99K-$157K (Glassdoor est.)',
       '$79K-$222K (Glassdoor est.)', '$57K-$118K (Glassdoor est.)',
       '$86K-$141K (Glassdoor est.)', '$94K-$154K (Glassdoor est.)',
       '$37K-$76K (Glassdoor est.)', '$100K-$160K (Glassdoor est.)',
       '$55K-$100K (Glassdoor est.)', '$60K-$114K (Glassdoor est.)',
       '$39K-$68K (Glassdoor est.)', '$64K-$107K (Glassdoor est.)',
       '$31K-$65K (Glassdoor est.)', '$34K-$62K (Glassdoor est.)',
       '$117K-$231K (Glassdoor est.)', '$79K-$134K (Glassdoor est.)',
       '$52K-$93K (Glassdoor est.)', '$55K-$116K (Glassdoor est.)',
       '$72K-$123K (Glassdoor est.)', '$74K-$124K (Glassdoor est.)',
       '$40K-$73K (Glassdoor est.)', '$102K-$164K (Glassdoor est.)',
       '$89K-$153K (Glassdoor est.)', '$61K-$110K (Glassdoor est.)',
       '$65K-$110K (Glassdoor est.)', '$200K-$275K(Employer est.)',
       '$68K-$123K (Glassdoor est.)', '$80K-$129K (Glassdoor est.)',
       '$39K-$71K (Glassdoor est.)', '$38K-$85K (Glassdoor est.)',
       '$121K-$193K (Glassdoor est.)', '$54K-$102K (Glassdoor est.)',
       '$102K-$163K (Glassdoor est.)', '$76K-$140K (Glassdoor est.)',
       '$60K-$101K (Glassdoor est.)', '$82K-$133K (Glassdoor est.)',
       '$65K-$125K (Glassdoor est.)', '$91K-$148K (Glassdoor est.)',
       '$95K-$173K (Glassdoor est.)', '$77K-$124K (Glassdoor est.)',
       '$80K-$135K (Glassdoor est.)', '$85K-$159K (Glassdoor est.)',
       '$80K-$105K(Employer est.)', '$43K-$81K (Glassdoor est.)',
       '$29K-$50K (Glassdoor est.)', '$26K-$55K (Glassdoor est.)',
       '$61K-$118K (Glassdoor est.)', '$60K-$102K (Glassdoor est.)',
       '$112K-$182K (Glassdoor est.)', '$51K-$112K (Glassdoor est.)',
       '$113K-$223K (Glassdoor est.)', '$72K-$129K (Glassdoor est.)',
       '$71K-$123K (Glassdoor est.)',
       'Employer Provided Salary:$120K-$145K',
       '$80K-$120K (Glassdoor est.)', '$80K-$130K (Glassdoor est.)',
       '$59K-$115K (Glassdoor est.)', '$71K-$136K (Glassdoor est.)',
       '$81K-$167K (Glassdoor est.)', '$71K-$204K (Glassdoor est.)',
       '$75K-$125K (Glassdoor est.)', '$77K-$136K (Glassdoor est.)',
       '$74K-$123K (Glassdoor est.)', '$44K-$78K (Glassdoor est.)',
       '$65K-$148K (Glassdoor est.)', '$59K-$110K (Glassdoor est.)',
       '$85K-$134K (Glassdoor est.)', '$124K-$204K (Glassdoor est.)',
       '$131K-$207K (Glassdoor est.)', '$110K-$174K (Glassdoor est.)',
       '$52K-$101K (Glassdoor est.)', '$81K-$133K (Glassdoor est.)',
       '$132K-$211K (Glassdoor est.)', '$74K-$140K (Glassdoor est.)',
       '$100K-$190K (Glassdoor est.)', '$43K-$80K (Glassdoor est.)',
       '$17-$24 Per Hour(Glassdoor est.)', '$91K-$149K (Glassdoor est.)',
       '$42K-$82K (Glassdoor est.)', '$116K-$185K (Glassdoor est.)',
       '$59K-$116K (Glassdoor est.)', '$48K-$95K (Glassdoor est.)',
       '$31K-$72K (Glassdoor est.)', '$105K-$198K (Glassdoor est.)',
       '$98K-$182K (Glassdoor est.)', '$73K-$124K (Glassdoor est.)',
       'Employer Provided Salary:$200K-$250K',
       '$21-$34 Per Hour(Glassdoor est.)', '$117K-$206K (Glassdoor est.)',
       '$111K-$183K (Glassdoor est.)', '$81K-$159K (Glassdoor est.)',
       '$83K-$166K (Glassdoor est.)', '$114K-$182K (Glassdoor est.)',
       '$42K-$76K (Glassdoor est.)', '$114K-$179K (Glassdoor est.)',
       '$60K-$123K (Glassdoor est.)', '$100K-$166K (Glassdoor est.)',
       '$108K-$173K (Glassdoor est.)', '$48K-$93K (Glassdoor est.)',
       '$54K-$115K (Glassdoor est.)', '$60K-$127K (Glassdoor est.)',
       '$90K-$179K (Glassdoor est.)', '$138K-$224K (Glassdoor est.)',
       '$190K-$220K(Employer est.)', '$35K-$62K (Glassdoor est.)',
       '$18-$25 Per Hour(Glassdoor est.)', '$39K-$66K (Glassdoor est.)',
       '$42K-$86K (Glassdoor est.)', '$69K-$127K (Glassdoor est.)',
       '$40K-$68K (Glassdoor est.)', '$49K-$113K (Glassdoor est.)',
       '$75K-$140K (Glassdoor est.)', '$66K-$112K (Glassdoor est.)',
       '$76K-$125K (Glassdoor est.)', '$44K-$86K (Glassdoor est.)',
       '$15-$25 Per Hour(Glassdoor est.)', '$53K-$92K (Glassdoor est.)',
       '$65K-$120K (Glassdoor est.)', '$60K-$103K (Glassdoor est.)',
       '$53K-$105K (Glassdoor est.)', '$33K-$62K (Glassdoor est.)',
       '$48K-$90K (Glassdoor est.)', '$34K-$64K (Glassdoor est.)',
       '$66K-$111K (Glassdoor est.)', '$91K-$138K (Glassdoor est.)',
       '$62K-$114K (Glassdoor est.)', '$71K-$129K (Glassdoor est.)',
       '$74K-$119K (Glassdoor est.)', '$55K-$97K (Glassdoor est.)',
       '$15K-$16K(Employer est.)', '$61K-$106K (Glassdoor est.)',
       '$127K-$199K (Glassdoor est.)', '$74K-$126K (Glassdoor est.)',
       '$33K-$72K (Glassdoor est.)', '$37K-$63K (Glassdoor est.)',
       '$67K-$119K (Glassdoor est.)', '$72K-$117K (Glassdoor est.)',
       '$78K-$126K (Glassdoor est.)', '$116K-$194K (Glassdoor est.)',
       '$83K-$133K (Glassdoor est.)', '$45K-$82K (Glassdoor est.)',
       '$83K-$135K (Glassdoor est.)', '$70K-$122K (Glassdoor est.)',
       '$70K-$132K (Glassdoor est.)', '$54K-$101K (Glassdoor est.)',
       '$68K-$112K (Glassdoor est.)', '$42K-$74K (Glassdoor est.)',
       '$95K-$161K (Glassdoor est.)', '$76K-$126K (Glassdoor est.)',
       '$108K-$176K (Glassdoor est.)', '$130K-$208K (Glassdoor est.)',
       '$37K-$68K (Glassdoor est.)', '$52K-$99K (Glassdoor est.)',
       '$105K-$173K (Glassdoor est.)', '$71K-$134K (Glassdoor est.)',
       '$39K-$82K (Glassdoor est.)', '$88K-$162K (Glassdoor est.)',
       '$55K-$99K (Glassdoor est.)', '$67K-$117K (Glassdoor est.)',
       '$92K-$150K (Glassdoor est.)', '$116K-$209K (Glassdoor est.)',
       '$38K-$82K (Glassdoor est.)', 'Employer Provided Salary:$85K-$90K',
       '$62K-$119K (Glassdoor est.)', '$84K-$136K (Glassdoor est.)',
       '$52K-$89K (Glassdoor est.)', '$65K-$119K (Glassdoor est.)',
       '$63K-$101K (Glassdoor est.)', '$127K-$202K (Glassdoor est.)',
       '$31K-$57K (Glassdoor est.)', '$75K-$143K (Glassdoor est.)',
       '$105K-$194K (Glassdoor est.)', '$45K-$86K (Glassdoor est.)',
       '$95K-$154K (Glassdoor est.)', '$80K-$148K (Glassdoor est.)',
       '$36K-$62K (Glassdoor est.)', '$50K-$92K (Glassdoor est.)',
       '$67K-$135K (Glassdoor est.)', '$42K-$80K (Glassdoor est.)',
       '$68K-$139K (Glassdoor est.)', '$34K-$92K (Glassdoor est.)',
       '$54K-$71K (Glassdoor est.)', '$65K-$124K (Glassdoor est.)',
       '$109K-$200K (Glassdoor est.)', '$61K-$113K (Glassdoor est.)',
       '$43K-$86K (Glassdoor est.)', '$74K-$149K (Glassdoor est.)',
       '$113K-$196K (Glassdoor est.)', '$97K-$160K (Glassdoor est.)',
       '$24-$39 Per Hour(Glassdoor est.)', '$102K-$172K (Glassdoor est.)',
       '$108K-$171K (Glassdoor est.)', '$76K-$142K (Glassdoor est.)',
       '$202K-$306K (Glassdoor est.)', '$49K-$97K (Glassdoor est.)',
       '$65K-$134K (Glassdoor est.)', '$32K-$59K (Glassdoor est.)',
       '$87K-$158K (Glassdoor est.)', '$107K-$173K (Glassdoor est.)',
       '$56K-$99K (Glassdoor est.)',
       'Employer Provided Salary:$25-$28 Per Hour',
       '$80K-$155K (Glassdoor est.)', '$43K-$98K (Glassdoor est.)',
       '$45K-$78K (Glassdoor est.)', '$44K-$96K (Glassdoor est.)',
       '$50K-$110K (Glassdoor est.)', '$61K-$119K (Glassdoor est.)',
       'Employer Provided Salary:$100K-$140K',
       '$56K-$91K (Glassdoor est.)', '$101K-$158K (Glassdoor est.)',
       '$125K-$210K (Glassdoor est.)', '$43K-$77K (Glassdoor est.)',
       '$139K-$221K (Glassdoor est.)', '$78K-$147K (Glassdoor est.)',
       '$37K-$66K (Glassdoor est.)', '$38K-$64K (Glassdoor est.)',
       '$43K-$82K (Glassdoor est.)', '$90K-$110K(Employer est.)',
       '$93K-$151K (Glassdoor est.)', '$40K-$101K (Glassdoor est.)',
       '$97K-$180K (Glassdoor est.)', '$81K-$134K (Glassdoor est.)',
       '$84K-$157K (Glassdoor est.)', '$121K-$203K (Glassdoor est.)',
       '$52K-$85K (Glassdoor est.)', '$81K-$140K (Glassdoor est.)',
       '$83K-$148K (Glassdoor est.)', '$31K-$55K (Glassdoor est.)',
       '$102K-$178K (Glassdoor est.)',
       'Employer Provided Salary:$110K-$130K',
       '$48K-$85K (Glassdoor est.)', '$66K-$123K (Glassdoor est.)',
       '$92K-$146K (Glassdoor est.)', '$21-$29 Per Hour(Glassdoor est.)',
       '$10-$17 Per Hour(Glassdoor est.)', '$150K-$239K (Glassdoor est.)',
       '$52K-$91K (Glassdoor est.)', '$82K-$129K(Employer est.)',
       '$47K-$101K (Glassdoor est.)', '$49K-$76K (Glassdoor est.)',
       '$43K-$88K (Glassdoor est.)', '$124K-$199K (Glassdoor est.)',
       '$97K-$181K (Glassdoor est.)', '$100K-$173K (Glassdoor est.)',
       '$53K-$96K (Glassdoor est.)', '$65K-$96K (Glassdoor est.)',
       '$75K-$127K (Glassdoor est.)', '$94K-$139K (Glassdoor est.)',
       '$176K-$289K (Glassdoor est.)', '$92K-$149K (Glassdoor est.)',
       '$118K-$188K (Glassdoor est.)', '$108K-$146K (Glassdoor est.)',
       '$65K-$106K (Glassdoor est.)', '$55K-$98K (Glassdoor est.)',
       '$94K-$162K (Glassdoor est.)', '$63K-$120K (Glassdoor est.)',
       '$126K-$228K (Glassdoor est.)', '$80K-$134K (Glassdoor est.)',
       '$85K-$142K (Glassdoor est.)', '$87K-$140K (Glassdoor est.)',
       '$76K-$127K (Glassdoor est.)', '$54K-$92K (Glassdoor est.)',
       '$61K-$100K (Glassdoor est.)', '$112K-$179K (Glassdoor est.)',
       '$63K-$111K (Glassdoor est.)', '$75K-$126K (Glassdoor est.)',
       '$110K-$184K (Glassdoor est.)', '$76K-$145K (Glassdoor est.)',
       '$70K-$118K (Glassdoor est.)', '$94K-$153K (Glassdoor est.)',
       '$150K-$180K (Glassdoor est.)', '$42K-$77K (Glassdoor est.)',
       '$47K-$85K (Glassdoor est.)', '$62K-$112K (Glassdoor est.)',
       '$64K-$108K (Glassdoor est.)', '$89K-$144K (Glassdoor est.)',
       '$55K-$105K (Glassdoor est.)', '$135K-$211K (Glassdoor est.)',
       '$57K-$80K (Glassdoor est.)', '$129K-$215K (Glassdoor est.)',
       '$63K-$127K (Glassdoor est.)', '$50K-$89K (Glassdoor est.)',
       '$71K-$124K (Glassdoor est.)', '$69K-$121K (Glassdoor est.)',
       '$150K-$238K (Glassdoor est.)', '$77K-$132K (Glassdoor est.)',
       '$59K-$112K (Glassdoor est.)', '$35K-$65K (Glassdoor est.)',
       '$79K-$147K (Glassdoor est.)', '$119K-$187K (Glassdoor est.)',
       '$90K-$157K (Glassdoor est.)', '$32K-$62K (Glassdoor est.)',
       '$116K-$208K (Glassdoor est.)', '$102K-$165K (Glassdoor est.)',
       '$91K-$159K (Glassdoor est.)', '$80K-$133K (Glassdoor est.)',
       '$39K-$69K (Glassdoor est.)', '$27K-$48K (Glassdoor est.)',
       '$36K-$71K (Glassdoor est.)', '$130K-$206K (Glassdoor est.)',
       '$99K-$178K (Glassdoor est.)', '$86K-$137K (Glassdoor est.)',
       '$37K-$100K (Glassdoor est.)', '$58K-$111K (Glassdoor est.)',
       '$72K-$133K (Glassdoor est.)', '$61K-$126K (Glassdoor est.)',
       '$95K-$160K (Glassdoor est.)', '$33K-$61K (Glassdoor est.)',
       '$69K-$119K (Glassdoor est.)', '$67K-$127K (Glassdoor est.)',
       '$66K-$117K (Glassdoor est.)', '$50K-$98K (Glassdoor est.)',
       '$90K-$153K (Glassdoor est.)',
       'Employer Provided Salary:$100K-$135K',
       '$42K-$79K (Glassdoor est.)', '$84K-$153K (Glassdoor est.)',
       '$44K-$73K (Glassdoor est.)', '$40K-$87K (Glassdoor est.)',
       '$72K-$142K (Glassdoor est.)', '$74K-$137K (Glassdoor est.)',
       '$57K-$109K (Glassdoor est.)', '$136K-$208K (Glassdoor est.)',
       '$171K-$272K (Glassdoor est.)', '$65K-$126K (Glassdoor est.)',
       '$118K-$228K (Glassdoor est.)', '$113K-$182K (Glassdoor est.)',
       '$58K-$104K (Glassdoor est.)', '$58K-$108K (Glassdoor est.)',
       '$81K-$161K (Glassdoor est.)', '$115K-$220K (Glassdoor est.)',
       '$71K-$144K (Glassdoor est.)', '$32K-$57K (Glassdoor est.)',
       '$79K-$136K (Glassdoor est.)', '$48K-$113K (Glassdoor est.)',
       '$27-$47 Per Hour(Glassdoor est.)', '$68K-$125K (Glassdoor est.)',
       '$39K-$67K (Glassdoor est.)', '$71K-$135K (Glassdoor est.)',
       '$61K-$123K (Glassdoor est.)', '$87K-$141K (Glassdoor est.)',
       '$71K-$121K (Glassdoor est.)', '$72K-$121K (Glassdoor est.)',
       '$51K-$88K (Glassdoor est.)', '$101K-$141K (Glassdoor est.)',
       '$79K-$127K (Glassdoor est.)', '$81K-$132K (Glassdoor est.)',
       'Employer Provided Salary:$120K-$140K',
       '$65K-$113K (Glassdoor est.)', '$59K-$125K (Glassdoor est.)',
       '$80K-$142K (Glassdoor est.)', '$62K-$113K (Glassdoor est.)'],
      dtype=object)

In [12]:
def clean_salary_estimate(data):
    data=data.replace('$','')
    data=data.replace('K','')
    data=data.replace('(Glassdoor est.)','')
    data=data.lower().replace('per hour','')
    data=data.lower().replace('employer provided salary:','')
    data=data.lower().replace('(employer est.)','')
    return(data)

In [13]:
def get_min(data):
    return data.split('-')[0]

In [14]:
def get_max(data):
    return data.split('-')[1]

In [15]:
df['Hourly']=df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)

In [16]:
df['Employer_Provided_Salary']=df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary' in x.lower() else 0)

In [17]:
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Title,Hourly,Employer_Provided_Salary
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,data scientist,0,0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,data scientist,0,0
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,data scientist,0,0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",data scientist,0,0
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",data scientist,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",na,0,0
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",data engineer,0,0
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,na,0,0
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,manager,0,0
955,955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,na,0,0

In [18]:
df.Employer_Provided_Salary.value_counts()

0    725
1     17
Name: Employer_Provided_Salary, dtype: int64

In [19]:
df.Hourly.value_counts()

0    718
1     24
Name: Hourly, dtype: int64

In [20]:
salary=df['Salary Estimate'].apply(lambda x:clean_salary_estimate(x))

In [21]:
salary.unique()

array(['53-91 ', '63-112 ', '80-90 ', '56-97 ', '86-143 ', '71-119 ',
       '54-93 ', '86-142 ', '38-84 ', '120-160 ', '126-201 ', '64-106 ',
       '106-172 ', '46-85 ', '83-144 ', '102-190 ', '67-137 ', '118-189 ',
       '110-175 ', '64-111 ', '81-130 ', '73-119 ', '86-139 ', '63-105 ',
       '109-177 ', '63-110 ', '75-124 ', '34-61 ', '72-120 ', '93-149 ',
       '85-140 ', '77-135 ', '82-132 ', '83-137 ', '115-180 ', '74-138 ',
       '64-112 ', '68-129 ', '52-113 ', '110-150', '150-160', '158-211 ',
       '20-39 ', '56-117 ', '63-99 ', '68-114 ', '41-95 ', '86-144 ',
       '80-139 ', '56-95 ', '120-189 ', '111-176 ', '84-146 ', '107-172 ',
       '49-85 ', '61-109 ', '88-148 ', '60-99 ', '41-72 ', '96-161 ',
       '65-130 ', '52-81 ', '139-220 ', '50-102 ', '85-139 ', '74-122 ',
       '99-157 ', '79-222 ', '57-118 ', '86-141 ', '94-154 ', '37-76 ',
       '100-160 ', '55-100 ', '60-114 ', '39-68 ', '64-107 ', '31-65 ',
       '34-62 ', '117-231 ', '79-134 ', '52-93 ', '55-116 ', '72-123 ',
       '74-124 ', '40-73 ', '102-164 ', '89-153 ', '61-110 ', '65-110 ',
       '200-275', '68-123 ', '80-129 ', '39-71 ', '38-85 ', '121-193 ',
       '54-102 ', '102-163 ', '76-140 ', '60-101 ', '82-133 ', '65-125 ',
       '91-148 ', '95-173 ', '77-124 ', '80-135 ', '85-159 ', '80-105',
       '43-81 ', '29-50 ', '26-55 ', '61-118 ', '60-102 ', '112-182 ',
       '51-112 ', '113-223 ', '72-129 ', '71-123 ', '120-145', '80-120 ',
       '80-130 ', '59-115 ', '71-136 ', '81-167 ', '71-204 ', '75-125 ',
       '77-136 ', '74-123 ', '44-78 ', '65-148 ', '59-110 ', '85-134 ',
       '124-204 ', '131-207 ', '110-174 ', '52-101 ', '81-133 ',
       '132-211 ', '74-140 ', '100-190 ', '43-80 ', '17-24 ', '91-149 ',
       '42-82 ', '116-185 ', '59-116 ', '48-95 ', '31-72 ', '105-198 ',
       '98-182 ', '73-124 ', '200-250', '21-34 ', '117-206 ', '111-183 ',
       '81-159 ', '83-166 ', '114-182 ', '42-76 ', '114-179 ', '60-123 ',
       '100-166 ', '108-173 ', '48-93 ', '54-115 ', '60-127 ', '90-179 ',
       '138-224 ', '190-220', '35-62 ', '18-25 ', '39-66 ', '42-86 ',
       '69-127 ', '40-68 ', '49-113 ', '75-140 ', '66-112 ', '76-125 ',
       '44-86 ', '15-25 ', '53-92 ', '65-120 ', '60-103 ', '53-105 ',
       '33-62 ', '48-90 ', '34-64 ', '66-111 ', '91-138 ', '62-114 ',
       '71-129 ', '74-119 ', '55-97 ', '15-16', '61-106 ', '127-199 ',
       '74-126 ', '33-72 ', '37-63 ', '67-119 ', '72-117 ', '78-126 ',
       '116-194 ', '83-133 ', '45-82 ', '83-135 ', '70-122 ', '70-132 ',
       '54-101 ', '68-112 ', '42-74 ', '95-161 ', '76-126 ', '108-176 ',
       '130-208 ', '37-68 ', '52-99 ', '105-173 ', '71-134 ', '39-82 ',
       '88-162 ', '55-99 ', '67-117 ', '92-150 ', '116-209 ', '38-82 ',
       '85-90', '62-119 ', '84-136 ', '52-89 ', '65-119 ', '63-101 ',
       '127-202 ', '31-57 ', '75-143 ', '105-194 ', '45-86 ', '95-154 ',
       '80-148 ', '36-62 ', '50-92 ', '67-135 ', '42-80 ', '68-139 ',
       '34-92 ', '54-71 ', '65-124 ', '109-200 ', '61-113 ', '43-86 ',
       '74-149 ', '113-196 ', '97-160 ', '24-39 ', '102-172 ', '108-171 ',
       '76-142 ', '202-306 ', '49-97 ', '65-134 ', '32-59 ', '87-158 ',
       '107-173 ', '56-99 ', '25-28 ', '80-155 ', '43-98 ', '45-78 ',
       '44-96 ', '50-110 ', '61-119 ', '100-140', '56-91 ', '101-158 ',
       '125-210 ', '43-77 ', '139-221 ', '78-147 ', '37-66 ', '38-64 ',
       '43-82 ', '90-110', '93-151 ', '40-101 ', '97-180 ', '81-134 ',
       '84-157 ', '121-203 ', '52-85 ', '81-140 ', '83-148 ', '31-55 ',
       '102-178 ', '110-130', '48-85 ', '66-123 ', '92-146 ', '21-29 ',
       '10-17 ', '150-239 ', '52-91 ', '82-129', '47-101 ', '49-76 ',
       '43-88 ', '124-199 ', '97-181 ', '100-173 ', '53-96 ', '65-96 ',
       '75-127 ', '94-139 ', '176-289 ', '92-149 ', '118-188 ',
       '108-146 ', '65-106 ', '55-98 ', '94-162 ', '63-120 ', '126-228 ',
       '80-134 ', '85-142 ', '87-140 ', '76-127 ', '54-92 ', '61-100 ',
       '112-179 ', '63-111 ', '75-126 ', '110-184 ', '76-145 ', '70-118 ',
       '94-153 ', '150-180 ', '42-77 ', '47-85 ', '62-112 ', '64-108 ',
       '89-144 ', '55-105 ', '135-211 ', '57-80 ', '129-215 ', '63-127 ',
       '50-89 ', '71-124 ', '69-121 ', '150-238 ', '77-132 ', '59-112 ',
       '35-65 ', '79-147 ', '119-187 ', '90-157 ', '32-62 ', '116-208 ',
       '102-165 ', '91-159 ', '80-133 ', '39-69 ', '27-48 ', '36-71 ',
       '130-206 ', '99-178 ', '86-137 ', '37-100 ', '58-111 ', '72-133 ',
       '61-126 ', '95-160 ', '33-61 ', '69-119 ', '67-127 ', '66-117 ',
       '50-98 ', '90-153 ', '100-135', '42-79 ', '84-153 ', '44-73 ',
       '40-87 ', '72-142 ', '74-137 ', '57-109 ', '136-208 ', '171-272 ',
       '65-126 ', '118-228 ', '113-182 ', '58-104 ', '58-108 ', '81-161 ',
       '115-220 ', '71-144 ', '32-57 ', '79-136 ', '48-113 ', '27-47 ',
       '68-125 ', '39-67 ', '71-135 ', '61-123 ', '87-141 ', '71-121 ',
       '72-121 ', '51-88 ', '101-141 ', '79-127 ', '81-132 ', '120-140',
       '65-113 ', '59-125 ', '80-142 ', '62-113 '], dtype=object)

In [22]:
df['Min Salary(K)']=salary.apply(lambda x:int(get_min(x)))

In [23]:
df['Max Salary(K)']=salary.apply(lambda x:int(get_max(x)))

In [24]:
df.dtypes

Unnamed: 0                    int64
Job Title                    object
Salary Estimate              object
Job Description              object
Rating                      float64
Company Name                 object
Location                     object
Headquarters                 object
Size                         object
Founded                       int64
Type of ownership            object
Industry                     object
Sector                       object
Revenue                      object
Competitors                  object
Title                        object
Hourly                        int64
Employer_Provided_Salary      int64
Min Salary(K)                 int64
Max Salary(K)                 int64
dtype: object

Converting Hourly salaries to annual salaries and considering an average of 2000 hours a year

In [25]:
df['Min Salary(K)']=df.apply(lambda x: x['Min Salary(K)']*2 if x.Hourly==1 else x['Min Salary(K)'],axis=1)
df['Max Salary(K)']=df.apply(lambda x: x['Max Salary(K)']*2 if x.Hourly==1 else x['Max Salary(K)'],axis=1)

In [26]:
df['Avg Salary(K)']=(df['Max Salary(K)']+df['Min Salary(K)'])/2

In [27]:
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Industry,Sector,Revenue,Competitors,Title,Hourly,Employer_Provided_Salary,Min Salary(K),Max Salary(K),Avg Salary(K)
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,data scientist,0,0,53,91,72.0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,data scientist,0,0,63,112,87.5
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,Security Services,Business Services,$100 to $500 million (USD),-1,data scientist,0,0,80,90,85.0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",data scientist,0,0,56,97,76.5
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",data scientist,0,0,86,143,114.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",na,0,0,58,111,84.5
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,...,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",data engineer,0,0,72,133,102.5
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,...,Colleges & Universities,Education,Unknown / Non-Applicable,-1,na,0,0,56,91,73.5
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,...,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,manager,0,0,95,160,127.5
955,955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,...,Federal Agencies,Government,$50 to $100 million (USD),-1,na,0,0,61,126,93.5

# Company name txt

In [28]:
df[df['Rating']!=-1]

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Industry,Sector,Revenue,Competitors,Title,Hourly,Employer_Provided_Salary,Min Salary(K),Max Salary(K),Avg Salary(K)
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,data scientist,0,0,53,91,72.0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,data scientist,0,0,63,112,87.5
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,Security Services,Business Services,$100 to $500 million (USD),-1,data scientist,0,0,80,90,85.0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",data scientist,0,0,56,97,76.5
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",data scientist,0,0,86,143,114.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",na,0,0,58,111,84.5
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,...,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",data engineer,0,0,72,133,102.5
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,...,Colleges & Universities,Education,Unknown / Non-Applicable,-1,na,0,0,56,91,73.5
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,...,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,manager,0,0,95,160,127.5
955,955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,...,Federal Agencies,Government,$50 to $100 million (USD),-1,na,0,0,61,126,93.5

In [29]:
df['Company_name_txt']=df.apply(lambda x: x['Company Name'] if x['Rating']==-1 else x['Company Name'][:-4],axis=1)

In [30]:
df.Company_name_txt

0                          Tecolote Research
1      University of Maryland Medical System
2                                    KnowBe4
3                                       PNNL
4                         Affinity Solutions
                       ...
950                                      GSK
951                               Eventbrite
952           Software Engineering Institute
953                             Numeric, LLC
955             Riverside Research Institute
Name: Company_name_txt, Length: 742, dtype: object

# State

In [31]:
df['State']=df['Location'].apply(lambda x: x.split(',')[1])

In [32]:
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Revenue,Competitors,Title,Hourly,Employer_Provided_Salary,Min Salary(K),Max Salary(K),Avg Salary(K),Company_name_txt,State
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,$50 to $100 million (USD),-1,data scientist,0,0,53,91,72.0,Tecolote Research,NM
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,$2 to $5 billion (USD),-1,data scientist,0,0,63,112,87.5,University of Maryland Medical System,MD
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,$100 to $500 million (USD),-1,data scientist,0,0,80,90,85.0,KnowBe4,FL
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",data scientist,0,0,56,97,76.5,PNNL,WA
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",data scientist,0,0,86,143,114.5,Affinity Solutions,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,...,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",na,0,0,58,111,84.5,GSK,MA
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,...,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",data engineer,0,0,72,133,102.5,Eventbrite,TN
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,...,Unknown / Non-Applicable,-1,na,0,0,56,91,73.5,Software Engineering Institute,PA
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,...,$5 to $10 million (USD),-1,manager,0,0,95,160,127.5,"Numeric, LLC",PA
955,955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,...,$50 to $100 million (USD),-1,na,0,0,61,126,93.5,Riverside Research Institute,OH

In [33]:
df.State.value_counts()

 CA             151
 MA             103
 NY              72
 VA              41
 IL              40
 MD              35
 PA              33
 TX              28
 WA              21
 NC              21
 NJ              17
 FL              16
 OH              14
 TN              13
 CO              11
 DC              11
 UT              10
 WI              10
 IN              10
 MO               9
 AZ               9
 AL               8
 MI               6
 DE               6
 GA               6
 KY               6
 IA               5
 CT               5
 LA               4
 OR               4
 NE               4
 NM               3
 KS               3
 MN               2
 ID               2
 Los Angeles      1
 RI               1
 SC               1
Name: State, dtype: int64

In [34]:
df.State=df.State.apply(lambda x: x.strip() if x.strip().lower() !='los angeles' else 'CA')

In [57]:
df.State.value_counts()

CA    152
MA    103
NY     72
VA     41
IL     40
MD     35
PA     33
TX     28
WA     21
NC     21
NJ     17
FL     16
OH     14
TN     13
DC     11
CO     11
WI     10
UT     10
IN     10
MO      9
AZ      9
AL      8
KY      6
MI      6
GA      6
DE      6
CT      5
IA      5
NE      4
LA      4
OR      4
KS      3
NM      3
ID      2
MN      2
RI      1
SC      1
Name: State, dtype: int64

# Company age

In [36]:
df['Company_Age_Years']=df.Founded.apply(lambda x: 2021 - x if x!=-1 else -1 )

In [37]:
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Competitors,Title,Hourly,Employer_Provided_Salary,Min Salary(K),Max Salary(K),Avg Salary(K),Company_name_txt,State,Company_Age_Years
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,-1,data scientist,0,0,53,91,72.0,Tecolote Research,NM,48
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,-1,data scientist,0,0,63,112,87.5,University of Maryland Medical System,MD,37
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,-1,data scientist,0,0,80,90,85.0,KnowBe4,FL,11
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,"Oak Ridge National Laboratory, National Renewa...",data scientist,0,0,56,97,76.5,PNNL,WA,56
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,"Commerce Signals, Cardlytics, Yodlee",data scientist,0,0,86,143,114.5,Affinity Solutions,NY,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,...,"Pfizer, AstraZeneca, Merck",na,0,0,58,111,84.5,GSK,MA,191
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,...,"See Tickets, TicketWeb, Vendini",data engineer,0,0,72,133,102.5,Eventbrite,TN,15
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,...,-1,na,0,0,56,91,73.5,Software Engineering Institute,PA,37
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,...,-1,manager,0,0,95,160,127.5,"Numeric, LLC",PA,-1
955,955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,...,-1,na,0,0,61,126,93.5,Riverside Research Institute,OH,54

# Python/SQL in job description

In [38]:
df['Job Description'][0]

'Data Scientist\nLocation: Albuquerque, NM\nEducation Required: Bachelor’s degree required, preferably in math, engineering, business, or the sciences.\nSkills Required:\nBachelor’s Degree in relevant field, e.g., math, data analysis, database, computer science, Artificial Intelligence (AI); three years’ experience credit for Master’s degree; five years’ experience credit for a Ph.D\nApplicant should be proficient in the use of Power BI, Tableau, Python, MATLAB, Microsoft Word, PowerPoint, Excel, and working knowledge of MS Access, LMS, SAS, data visualization tools, and have a strong algorithmic aptitude\nExcellent verbal and written communication skills, and quantitative analytical skills are required\nApplicant must be able to work in a team environment\nU.S. citizenship and ability to obtain a DoD Secret Clearance required\nResponsibilities: The applicant will be responsible for formulating analytical solutions to complex data problems; creating data analytic models to improve data metrics; analyzing customer behavior and trends; delivering insights to stakeholders, as well as designing and crafting reports, dashboards, models, and algorithms to make data insights actionable; selecting features, building and optimizing classifiers using machine learning techniques; data mining using state-of-the-art methods, extending organization’s data with third party sources of information when needed; enhancing data collection procedures to include information that is relevant for building analytic systems; processing, cleansing, and verifying the integrity of data used for analysis; doing ad-hoc analysis and presenting results in a clear manner; and creating automated anomaly detection systems and constant tracking of its performance.\nBenefits:\nWe offer competitive salaries commensurate with education and experience. We have an excellent benefits package that includes:\nComprehensive health, dental, life, long and short term disability insurance\n100% Company funded Retirement Plans\nGenerous vacation, holiday and sick pay plans\nTuition assistance\n\nBenefits are provided to employees regularly working a minimum of 30 hours per week.\n\nTecolote Research is a private, employee-owned corporation where people are our primary resource. Our investments in technology and training give our employees the tools to ensure our clients are provided the solutions they need, and our very high employee retention rate and stable workforce is an added value to our customers. Apply now to connect with a company that invests in you.'

In [39]:
df['Python']=df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

In [40]:
df.Python.value_counts()

1    392
0    350
Name: Python, dtype: int64

In [41]:
df['SQL']=df['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)

In [58]:
df.SQL.value_counts()

1    380
0    362
Name: SQL, dtype: int64

# Seniority

In [42]:
def seniority(data):
    if 'senior' in data.lower() or 'sr.' in data.lower() or 'sr' in data.lower() or 'lead' in data.lower() or 'principal' in data.lower():
        return 'senior'
    if 'jr' in data.lower() or 'jr.' in data.lower() or 'junior' in data.lower() or 'entry' in data.lower():
        return 'junior'
    else:
        return 'na'

In [43]:
df['Seniority']=df['Job Title'].apply(lambda x:seniority(x))

In [44]:
df['Seniority'].value_counts()

na        519
senior    220
junior      3
Name: Seniority, dtype: int64

# Number of Competitors

In [45]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Title', 'Hourly', 'Employer_Provided_Salary', 'Min Salary(K)',
       'Max Salary(K)', 'Avg Salary(K)', 'Company_name_txt', 'State',
       'Company_Age_Years', 'Python', 'SQL', 'Seniority'],
      dtype='object')

In [46]:
df.Competitors

0                                                     -1
1                                                     -1
2                                                     -1
3      Oak Ridge National Laboratory, National Renewa...
4                   Commerce Signals, Cardlytics, Yodlee
                             ...
950                           Pfizer, AstraZeneca, Merck
951                      See Tickets, TicketWeb, Vendini
952                                                   -1
953                                                   -1
955                                                   -1
Name: Competitors, Length: 742, dtype: object

In [47]:
df['Num_competitors']=df.Competitors.apply(lambda x: len(x.split(',')) if x!='-1' else 0)

In [48]:
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Min Salary(K),Max Salary(K),Avg Salary(K),Company_name_txt,State,Company_Age_Years,Python,SQL,Seniority,Num_competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,53,91,72.0,Tecolote Research,NM,48,1,0,na,0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,63,112,87.5,University of Maryland Medical System,MD,37,1,0,na,0
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,80,90,85.0,KnowBe4,FL,11,1,1,na,0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,56,97,76.5,PNNL,WA,56,1,0,na,3
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,86,143,114.5,Affinity Solutions,NY,23,1,1,na,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,...,58,111,84.5,GSK,MA,191,0,0,senior,3
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,...,72,133,102.5,Eventbrite,TN,15,1,1,senior,3
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,...,56,91,73.5,Software Engineering Institute,PA,37,0,0,na,0
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,...,95,160,127.5,"Numeric, LLC",PA,-1,0,0,na,0
955,955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,...,61,126,93.5,Riverside Research Institute,OH,54,1,0,na,0

# Adding job description length

In [49]:
df['Job_Desc_Len']=df['Job Description'].apply(lambda x: len(x))

In [50]:
df.Job_Desc_Len.value_counts()

3670    5
5743    4
4471    4
5647    4
2832    4
       ..
4586    1
3570    1
5619    1
3585    1
2047    1
Name: Job_Desc_Len, Length: 443, dtype: int64

# Saving cleaned data

In [51]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [52]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Max Salary(K),Avg Salary(K),Company_name_txt,State,Company_Age_Years,Python,SQL,Seniority,Num_competitors,Job_Desc_Len
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,91,72.0,Tecolote Research,NM,48,1,0,na,0,2536
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,112,87.5,University of Maryland Medical System,MD,37,1,0,na,0,4783
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,90,85.0,KnowBe4,FL,11,1,1,na,0,3461
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,97,76.5,PNNL,WA,56,1,0,na,3,3883
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,143,114.5,Affinity Solutions,NY,23,1,1,na,3,2728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,...,111,84.5,GSK,MA,191,0,0,senior,3,6162
951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,133,102.5,Eventbrite,TN,15,1,1,senior,3,6130
952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,...,91,73.5,Software Engineering Institute,PA,37,0,0,na,0,3078
953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,160,127.5,"Numeric, LLC",PA,-1,0,0,na,0,1642
955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,...,126,93.5,Riverside Research Institute,OH,54,1,0,na,0,3673

In [53]:
df.to_csv('salary_data_cleaned.csv',index=False)

In [54]:
pd.read_csv('salary_data_cleaned.csv')

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Max Salary(K),Avg Salary(K),Company_name_txt,State,Company_Age_Years,Python,SQL,Seniority,Num_competitors,Job_Desc_Len
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,91,72.0,Tecolote Research,NM,48,1,0,na,0,2536
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,112,87.5,University of Maryland Medical System,MD,37,1,0,na,0,4783
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,90,85.0,KnowBe4,FL,11,1,1,na,0,3461
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,97,76.5,PNNL,WA,56,1,0,na,3,3883
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,143,114.5,Affinity Solutions,NY,23,1,1,na,3,2728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,...,111,84.5,GSK,MA,191,0,0,senior,3,6162
738,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,133,102.5,Eventbrite,TN,15,1,1,senior,3,6130
739,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,...,91,73.5,Software Engineering Institute,PA,37,0,0,na,0,3078
740,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,160,127.5,"Numeric, LLC",PA,-1,0,0,na,0,1642
741,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,...,126,93.5,Riverside Research Institute,OH,54,1,0,na,0,3673

In [55]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Title', 'Hourly', 'Employer_Provided_Salary', 'Min Salary(K)',
       'Max Salary(K)', 'Avg Salary(K)', 'Company_name_txt', 'State',
       'Company_Age_Years', 'Python', 'SQL', 'Seniority', 'Num_competitors',
       'Job_Desc_Len'],
      dtype='object')

In [56]:
df[df.Hourly==1][['Avg Salary(K)','Hourly']].sort_values('Avg Salary(K)',ascending=False)

     Avg Salary(K)  Hourly
823           74.0       1
875           63.0       1
437           63.0       1
652           63.0       1
456           55.0       1
209           55.0       1
247           55.0       1
919           55.0       1
337           55.0       1
682           55.0       1
694           53.0       1
936           53.0       1
464           53.0       1
522           50.0       1
786           50.0       1
632           43.0       1
427           43.0       1
240           43.0       1
854           43.0       1
197           41.0       1
307           41.0       1
257           40.0       1
787           27.0       1
523           27.0       1